* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

header {
  padding: 10px 20px;
  background-color: crimson;
  color: #fff;
}

.leaderboard-container {
  margin: 40px auto;
}

.list-group-item:nth-child(even) {
  background-color: #eee;
}

.refresh-button,
.submit-button {
  float: right;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ddd;
  width: 100%;
  padding: 20px;
}
